
<section class="services-section">
  <div class="services-header">
    <p class="section-subtitle">
      Discover our comprehensive range of services designed to meet your needs.
    </p>
  </div>

  <div class="services-cards-container">
    <div class="service-card">
      <div class="card-icon-container">
        <img src="assets/our-services/search11.png" alt="Search icon">
      </div>
      <h3 class="card-title">Search Registered Interests</h3>
      <p class="card-description">
        Access and search the registry to find detailed information on all registered security interests.
      </p>
    </div>

    <div class="service-card">
      <div class="card-icon-container">
        <img src="assets/our-services/search-security.png" alt="Registration icon">
      </div>
      <h3 class="card-title">Register a new Security Interest</h3>
      <p class="card-description">
        Secure your assets by registering a new security interest, ensuring legal protection and priority.
      </p>
    </div>

    <div class="service-card">
      <div class="card-icon-container">
        <img src="assets/our-services/search-history.png" alt="History icon">
      </div>
      <h3 class="card-title">View Registered History</h3>
      <p class="card-description">
        Review a complete history of all your registrations and transactions in one convenient place.
      </p>
    </div>

    <div class="service-card">
      <div class="card-icon-container">
        <img src="assets/our-services/amend.png" alt="Amendment icon">
      </div>
      <h3 class="card-title">Amend or Discharge Registrations</h3>
      <p class="card-description">
        Easily update or remove existing registrations as your legal and financial circumstances change.
      </p>
    </div>
  </div>
</section>
<!-- <section class="services-section">
  <div class="services-header">
    <h2 class="section-title">{{ servicesHeader }}</h2>
    <h3 class="card-title">{{ title }}</h3>

  </div>

  <div class="services-cards-container" >
  <div class="service-card" *ngFor="let service of services">
    <div class="card-icon-container" >
      <img *ngIf="service.image" [src]="service.image" alt="Service Image" />

    </div>
   
    <h3 class="card-title" *ngIf="service.subtitle">{{ service.subtitle }}</h3>

    <p class="card-description" [innerHTML]="service.description"></p>
  </div>
</div>
</section> -->
