<div class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-socials">
                <span class="social-text">Connect with us</span>
                <a href="#" class="social-icon facebook" aria-label="Facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="#" class="social-icon whatsapp" aria-label="WhatsApp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </a>
                <a href="#" class="social-icon instagram" aria-label="Instagram">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="#" class="social-icon twitter" aria-label="Twitter">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="#" class="social-icon linkedin" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <hr class="top-divider">
        </div>
       

       <!-- Main Footer Sections -->
<div class="footer-main">
    <div class="footer-col about">
        <h4 class="col-title">About</h4>
        <ul class="nav-list about-list">
            <li><a href="/policies">Policies</a></li>
            <li><a href="#">Admin Access</a></li>
        </ul>
    </div>

    <div class="footer-col location-section">
        <h4 class="col-title">Location</h4>
        <p>Chhophel Lam, Kawajangsa</p>
        <p>Thimphu, Bhutan</p>
        <p><strong>Open Hours:</strong></p>
        <p>Mon - Fri 8.00 am - 4.00 pm</p>
    </div>

    <div class="footer-col links-section">
        <h4 class="col-title">Links</h4>
        <ul class="nav-list links-list">
            <li><a href="https://www.bob.bt/faqs/internet-mobile-banking/">Bank of Bhutan Limited</a></li>
            <li><a href="https://bnb.bt/">Bhutan National Bank</a></li>
            <li><a href="https://drukpnbbank.bt/">Druk PNB Bank Limited.</a></li>
            <li><a href="https://bdb.bt/">Bhutan Development Bank Limited</a></li>
            <li><a href="https://www.tbank.bt/">TBank Limited</a></li>
        </ul>
    </div>

    <div class="footer-col contact-section">
        <h4 class="col-title">Contact</h4>
        <p><strong>Phone:</strong> +975-2-330795</p>
        <p><strong>Email:</strong> crst@rma.org.bt</p>
    </div>
</div>

<hr class="top-divider">

<!-- Copyright -->
<div class="copyright">
    <p>© 2025 Royal Monetary Authority. All Rights Reserved.</p>
</div>
