
   <section class="featuring-partner-section">
    <div class="featuring-partner-header">
      <h2 class="section-title">Featuring <span class="highlight">Partner</span></h2>
    </div>
    <div class="partner-logos-container">
      <div class="partner-logos-inner">
         <img src="assets/featuring-partner/bnb.png" alt="Bhutan National Bank" class="partner-logo bnb">
      <img src="assets/featuring-partner/bob.png" alt="Bank of Bhutan (BOB)" class="partner-logo bob">
      <img src="assets/featuring-partner/bdbl.png" alt="Bhutan Development Bank (BDB)" class="partner-logo bdb">
      <img src="assets/featuring-partner/tbank.png" alt="T Bank" class="partner-logo tbank">
      <img src="assets/featuring-partner/pnb.png" alt="PNB" class="partner-logo pnb">
      
      <img src="assets/featuring-partner/bnb.png" alt="Bhutan National Bank" class="partner-logo bnb">
      <img src="assets/featuring-partner/bob.png" alt="Bank of Bhutan (BOB)" class="partner-logo bob">
      <img src="assets/featuring-partner/bdbl.png" alt="Bhutan Development Bank (BDB)" class="partner-logo bdb">
      <img src="assets/featuring-partner/tbank.png" alt="T Bank" class="partner-logo tbank">
      <img src="assets/featuring-partner/pnb.png" alt="PNB" class="partner-logo pnb">
      </div>
    </div>
    <div class="decorative-line">
      <img src="assets/featuring-partner/line.png" alt="A decorative line separator" class="decorative-line">
    </div>
  </section>

  
 
