<section class="testimonials-section">
  <div class="testimonials-header">
    <h2 class="section-title">Words of <span class="highlight">Praise</span> from others<br>about our presence.</h2>
    <p class="section-subtitle">
      Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
    </p>
  </div>
  <div class="testimonials-cards-container">
    <div class="testimonial-card">
      <div class="card-header">
        <div class="user-info">
          <img src="assets/testimonials/T1.jpeg" alt="Sonam Dorji profile" class="user-avatar">
          <div class="user-details">
            <h3 class="user-name">Sonam Dorji</h3>
            <p class="user-title">RMA, CEO</p>
          </div>
        </div>
        <div class="quote-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512" class="quote-svg">
            <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H64c-35.3 0-64-28.7-64-64V216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-35.3 0-64-28.7-64-64V216z"/>
          </svg>
        </div>
      </div>
      <p class="testimonial-text">
        Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's book a galley of type and scrambled it to make a ty pe specimen book. It has survd five centuries, but also the leap into electronic typesetting, Aldus PageMa
      </p>
    </div>
    
    <div class="testimonial-card">
      <div class="card-header">
        <div class="user-info">
          <img src="assets/testimonials/T2.jpeg" alt="Sonam Dorji profile" class="user-avatar">
          <div class="user-details">
            <h3 class="user-name">Sonam Dorji</h3>
            <p class="user-title">RMA, CEO</p>
          </div>
        </div>
        <div class="quote-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512" class="quote-svg">
            <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H64c-35.3 0-64-28.7-64-64V216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-35.3 0-64-28.7-64-64V216z"/>
          </svg>
        </div>
      </div>
      <p class="testimonial-text">
        Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's book a galley of type and scrambled it to make a ty pe specimen book. It has survd five centuries, but also the leap into electronic typesetting, Aldus PageMa
      </p>
    </div>

    <div class="testimonial-card">
      <div class="card-header">
        <div class="user-info">
          <img src="assets/testimonials/T3.jpeg" alt="Sonam Dorji profile" class="user-avatar">
          <div class="user-details">
            <h3 class="user-name">Sonam Dorji</h3>
            <p class="user-title">RMA, CEO</p>
          </div>
        </div>
        <div class="quote-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512" class="quote-svg">
            <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H64c-35.3 0-64-28.7-64-64V216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v88h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H320c-35.3 0-64-28.7-64-64V216z"/>
          </svg>
        </div>
      </div>
      <p class="testimonial-text">
        Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem has been the industry's book a galley of type and scrambled it to make a ty pe specimen book. It has survd five centuries, but also the leap into electronic typesetting, Aldus PageMa
      </p>
    </div>
  </div>
</section>
