<section class="benefits-section">
  <div class="cloud-container">
    <img src="assets/testimonials/cloud.png" class="cloud-img" alt="cloud">
  </div>

  <div class="benefits-header">
    <h2 class="section-title">Benefits <span class="highlight">of the Registry</span></h2>
    <p class="section-subtitle">
      Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
    </p>
    <!-- <h2 class="section-title">{{ benefitsTitle }}</h2>
    <p class="section-subtitle">{{ title }}</p> -->
  </div>

  <div class="benefits-cards-container">

    <div class="benefit-card">
      <div class="card-inner">
        <div class="card-front">
          <div class="card-icon-container">
            <img src="assets/benefit/user.png" class="card-icon" alt="For Lender">
          </div>
          <h3 class="card-title">For Lender</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
        <div class="card-back">
          <h3 class="card-title">For Lender</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
      </div>
    </div>

    <div class="benefit-card">
      <div class="card-inner">
        <div class="card-front">
          <div class="card-icon-container">
            <img src="assets/benefit/badge.png" class="card-icon" alt="For Borrowers">
          </div>
          <h3 class="card-title">For Borrowers</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
        <div class="card-back">
          <h3 class="card-title">For Borrowers</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
      </div>
    </div>

    <div class="benefit-card">
      <div class="card-inner">
        <div class="card-front">
          <div class="card-icon-container">
            <img src="assets/benefit/banner.png" class="card-icon" alt="For Policy Maker">
          </div>
          <h3 class="card-title">For Policy Maker</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
        <div class="card-back">
          <h3 class="card-title">For Policy Maker</h3>
          <p class="card-description">
            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="benefits-cards-container">
    <div class="benefit-card" *ngFor="let benefit of benefits">
      <div class="card-icon-container">
        <img *ngIf="benefit.image" [src]="benefit.image" alt="Benefit Image" />
  
      </div>
      <div [innerHTML]="benefit.description" class="crst-info-block"></div>
    </div>
  </div> -->
</section>

<!-- <section class="benefits-section">
  <div class="benefits-header">
    <h2 class="section-title">{{ benefitsTitle }}</h2>
    <p class="section-subtitle">{{ title }}</p>
  </div>

  <div class="benefits-cards-container">
  <div class="benefit-card" *ngFor="let benefit of benefits">
    <div class="card-icon-container">
      <img *ngIf="benefit.image" [src]="benefit.image" alt="Benefit Image" />

    </div>
    <div [innerHTML]="benefit.description" class="crst-info-block"></div>
  </div>
</div>
</section> -->