/* Global Font - Poppins */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 13px; /* Base font size reduced from default 16px for more compact design */
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* Will be 13px based on html font-size */
  line-height: 1.5;
}

